.clearButtonWrapper {
  align-self: center;
}

.clearButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-3);
  border-radius: var(--full-radius);
  color: var(--text-color);
  font-size: var(--text-sm);
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;
}
.clearIcon {
  width: 16px;
  height: 16px;
  transition: transform 0.1s ease;
}

.clearButton:hover:not(:disabled) .clearIcon {
  color: var(--accent);
  transform: scale(1.2);
}

.clearButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
