.clearButtonWrapper {
  align-self: center;
  aspect-ratio: 1/1;
  padding: 0;
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-3) var(--space-4);
  border-radius: var(--full-radius);
  color: var(--text-color);
  font-size: var(--text-sm);
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition:
    background-color var(--transition-normal),
    opacity var(--transition-normal);
}
.clearIcon {
  width: var(--space-4);
  height: var(--space-4);
  transition: transform var(--transition-fast);
  aspect-ratio: 1 / 1;
}

.clearButton:hover:not(:disabled) .clearIcon {
  color: var(--accent);
  transform: scale(1.2);
}

.clearButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
}

.loading {
  pointer-events: none;
  cursor: default;
  animation: pulse 1.5s ease-in-out infinite;
}
