.glass {
  --gs-radius: var(--radius-full);
  --gs-padding: 0;
  --gs-blur: 6px;
  --gs-tint: var(--glass-tint, rgba(255, 255, 255, 0.08));
  --gs-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.1);
  --gs-shine: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gs-padding);
  border-radius: var(--gs-radius);
  box-shadow: var(--gs-shadow);
  width: fit-content;

  transition:
    box-shadow var(--transition-slow),
    transform var(--transition-slow),
    filter var(--transition-slow);
  overflow: hidden;
}

.effect,
.tint,
.shine,
.content {
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

.effect {
  backdrop-filter: blur(var(--gs-blur));
  filter: var(--gs-filter, none);
  overflow: hidden;
}

.tint {
  background: var(--gs-tint);
}

.shine {
  box-shadow:
    inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
  opacity: calc(var(--gs-shine) * 1);
  pointer-events: none;
}

.content {
  position: relative;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-radius: inherit;
}

.hiddenSvg {
  display: none;
}

.glass.noShine {
  --gs-shine: 0;
}
