.socialBar {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: var(--inner-padding);
  margin: 0 10px 0 10px;
}

.iconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.25s ease,
    opacity 0.25s ease;
  color: white;
}

.iconLink:hover {
  transform: scale(1.15);
  opacity: 0.8;
  color: var(--accent);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
